<div class="mob-tokens-help">
    <p>{{localize "MOBTOKENS.HelpGuideIntro"}}</p>
    <ol>
        <li>{{localize "MOBTOKENS.HelpGuideStepOne"}}</li>
        <li>{{localize "MOBTOKENS.HelpGuideStepTwo"}}</li>
        <li>{{localize "MOBTOKENS.HelpGuideStepThree"}}</li>
        <li>{{localize "MOBTOKENS.HelpGuideStepFour"}}</li>
    </ol>
    <p>{{localize "MOBTOKENS.HelpGuideOutro"}}</p>
</div>